@import "../node_modules/@fontsource/bebas-neue";
@import "../node_modules/@fontsource/source-code-pro";

h1 {
  font-family: "Bebas Neue", sans-serif;
}
h2 {
  font-family: "Bebas Neue", sans-serif;
}
h5 {
  font-family: "Source Code Pro", sans-serif;
}

// Components
.leader-text {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1rem;
}

.small-text {
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.8rem;
}

.navbar-text {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2rem;
}