// Color variables
$baseColor: #141414;
$baseAltColor: #000000;
// Text variables
// font-family
$baseFont: "Source Code Pro", sans-serif;
$bebasNeue: "Bebas Neue", sans-serif;
// font-size
$baseFontSize: 0.95rem;