<footer class="py-2 navbar-custom fixed-bottom">
  <div class="container text-center">
    <p class="m-0 text-white"><b>Copyleft silkky.cloud</b> <br />
      <a class="text-white" href="../tos">Terms of Service</a> - 
      <a class="text-white" href="../privacy">Privacy Policy</a> - 
      <a class="text-white" href="../legal">Legal Notice</a>
    </p>
  </div>
</footer>