<br>
<br>
<br>
<br>
<footer class="py-1 navbar-custom fixed-bottom shadow">
  <div class="container text-center">
    <p class="m-0 text-white"><a class="btn btn-sm text-white" href="https://github.com/TheSilkky/silkky.cloud/" target="_blank"><b>Copyleft Silkky.Cloud</b></a> <br />
      <a class="link-secondary small" href="../tos">Terms of Service</a>
      <a class="link-secondary small" href="../privacy">Privacy Policy</a>
      <a class="link-secondary small" href="../legal">Legal Notice</a>
    </p>
  </div>
</footer>