<footer class="py-2 navbar-custom fixed-bottom">
  <div class="container text-center">
    <p class="m-0 text-white"><b>Copyleft silkky.cloud</b> <br />
      <a class="link-secondary" href="../tos">Terms of Service</a>
      <a class="link-secondary" href="../privacy">Privacy Policy</a>
      <a class="link-secondary" href="../legal">Legal Notice</a>
    </p>
  </div>
</footer>