doctype html
head

  block meta
    - var metaTitle = 'Silkky.Cloud'
    - var metaDesc = 'Protecting your information and anonymity against global surveillance.'
    - var ogMetaTitle = 'Silkky.Cloud'
    - var ogMetaDesc = 'Protecting your information and anonymity against global surveillance.'
    - var twitterMetaTitle = 'Silkky.Cloud'
    - var twitterMetaDesc = 'Protecting your information and anonymity against global surveillance.'
    include meta.pug
    
  block scripts
    // Bootstrap core CSS
    link(href='../css/bootstrap.css', rel='stylesheet')
    // Custom styles for this template
    link(href='../css/styles.css', rel='stylesheet')
    // Bootstrap core JavaScript
    script(src='../js/bootstrap.bundle.min.js')
    script(src='../js/popper.js')

body

  // Navigation
  include nav.pug

  // Page Content
  .container
    block contents

  // Footer
  include footer.pug