<div class="card-component text-white">
    <h1 class="card-heading">{% if card_heading %}{{ card_heading }}{% else %}Hello, world!{% endif %}</h1>
    <hr class="my-4">
    <p class="leader-text">{% if card_text %}{{ card_text }}{% else %}Customizable Jumbotron component{% endif %}</p>
</div>