<div class="mt-5 py-5 hero">
    <div class="px-5 container-md">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-2 fw-bolder text-white mb-2">
                        Protect your privacy
                    </h1>
                    <p class="leader-text lead fw-normal text-white-50 mb-4">
                        Infrastructure, resources and guides aimed at helping you to protect your anonymity and privacy against global surveillance.
                    </p>
                    <div class="mt-5 d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <p class="leader-text text-white">
                            <a class="hero-button button-icon link-light me-2" href="/contribute">
                                Contribute<i class="bi bi-arrow-right bi-button-icon"></i>
                            </a>
                            <a class="hero-button button-icon link-secondary" href="/about">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img class="img-fluid rounded-3 my-5" src="/assets/img/png/brand/logo-transparent.png" width="400px" alt="Hero image" />
            </div>
        </div>
    </div>
</div>