<div class="mt-5 py-5 hero">
    <div class="px-5 container">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-2 fw-bolder text-white mb-2">
                        Hello, world!
                    </h1>
                    <p class="leader-text lead fw-normal text-white-50 mb-4">
                        Lorem ipsum dolor sit amet, has ut graeci copiosae legendos, te ridens fastidii luptatum mea. Nam ut elit veniam nullam. Dicam dissentiunt qui cu. In discere aliquid volumus vix. Adipisci maiestatis usu te, mei cu ocurreret sententiae percipitur.
                    </p>
                    <div class="mt-5 d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <p class="leader-text text-white">
                            <a class="hero-button button-icon link-info me-2" href="#">
                                Get Started<i class="bi bi-arrow-right bi-button-icon"></i>
                            </a>
                            <a class="hero-button button-icon link-light" href="#">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img class="img-fluid rounded-3 my-5" src="/assets/img/png/brand/logo-transparent.png" width="400px" alt="Hero image" />
            </div>
        </div>
    </div>
</div>