<div class="jumbotron text-white">
    <h1 class="jumbotron-heading">{% if jumbotron_heading %}{{ jumbotron_heading }}{% else %}Hello, world!{% endif %}</h1>
    <hr class="my-4">
    <p class="leader-text">{% if jumbotron_text %}{{ jumbotron_text }}{% else %}Customizable Jumbotron component{% endif %}</p>
</div>