<!DOCTYPE html>
<html class="h-100" lang="en">
{% render 'includes/head' %}
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <header>
    {% render 'includes/navbar' %}
    </header>
    {% block content %}
    <p>content...</p>
    {% endblock %}
</main>
{% render 'includes/footer' %}
{% render 'includes/scripts' %}
</body>
</html>