extends ../templates/base/structure.pug

block meta
  - var metaTitle = 'Contribute'
  - var metaDesc = 'Protecting your information and anonymity against global surveillance.'
  - var ogMetaTitle = 'Silkky.Cloud - Contribute'
  - var ogMetaDesc = 'Protecting your information and anonymity against global surveillance.'
  - var twitterMetaTitle = 'Silkky.Cloud - Contribute'
  - var twitterMetaDesc = 'Protecting your information and anonymity against global surveillance.'
  include ../templates/base/meta.pug
block contents
  // Jumbotron
  .p-4.mb-4.text-white.bg-dark.rounded-3
    .container-fluid.ps-4.py-5
      // Title
      h1.display-4.fw-bold Contributing &#128640;
      // Content
      p.col-md-8.fs-4 Silkky.Cloud is a community project, to be as open and transparent as possible. 
      p No matter who you are or where you live, you can contribute in any way you like whether that's adding a new page to the site, suggesting a new service or a donation to help with server costs. If you want to discuss anything please <a href="https://discord.gg/BvqJQ3hNrQ" target="_blank">join our Discord</a> we are happy to help :)

      .pt-3
        // Develop
        a.btn.btn-lg.btn-light.shadow.me-2.mb-2(href='#Develop', type='button') Develop 
          // Develop icon
          svg.bi.bi-code-slash(xmlns='http://www.w3.org/2000/svg', width='20', height='20', fill='currentColor', viewbox='0 0 16 16')
            path(d='M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z')

        // Donate
        a.btn.btn-lg.btn-success.shadow.me-2.mb-2(href='#Donate', type='button') Donate 
          // Donate icon
          svg.bi.bi-cash(xmlns='http://www.w3.org/2000/svg', width='20', height='20', fill='currentColor', viewbox='0 0 16 16')
            path(d='M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z')
            path(d='M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z')

      // Links
      .pt-4
        // Github
        a.me-3(href='https://github.com/silkkycloud/', target='_blank')
          // Github logo
          svg.text-white.bi.bi-github(xmlns='http://www.w3.org/2000/svg', width='25', height='25', fill='currentColor', viewbox='0 0 16 16')
            path(d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z')
        // Discord
        a.me-3(href='https://discord.gg/BvqJQ3hNrQ', target='_blank')
          // Discord logo
          svg.text-white.bi.bi-discord(xmlns='http://www.w3.org/2000/svg', width='25', height='25', fill='currentColor', viewbox='0 0 16 16')
            path(d='M6.552 6.712c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888.008-.488-.36-.888-.816-.888zm2.92 0c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888s-.36-.888-.816-.888z')
            path(d='M13.36 0H2.64C1.736 0 1 .736 1 1.648v10.816c0 .912.736 1.648 1.64 1.648h9.072l-.424-1.48 1.024.952.968.896L15 16V1.648C15 .736 14.264 0 13.36 0zm-3.088 10.448s-.288-.344-.528-.648c1.048-.296 1.448-.952 1.448-.952-.328.216-.64.368-.92.472-.4.168-.784.28-1.16.344a5.604 5.604 0 0 1-2.072-.008 6.716 6.716 0 0 1-1.176-.344 4.688 4.688 0 0 1-.584-.272c-.024-.016-.048-.024-.072-.04-.016-.008-.024-.016-.032-.024-.144-.08-.224-.136-.224-.136s.384.64 1.4.944c-.24.304-.536.664-.536.664-1.768-.056-2.44-1.216-2.44-1.216 0-2.576 1.152-4.664 1.152-4.664 1.152-.864 2.248-.84 2.248-.84l.08.096c-1.44.416-2.104 1.048-2.104 1.048s.176-.096.472-.232c.856-.376 1.536-.48 1.816-.504.048-.008.088-.016.136-.016a6.521 6.521 0 0 1 4.024.752s-.632-.6-1.992-1.016l.112-.128s1.096-.024 2.248.84c0 0 1.152 2.088 1.152 4.664 0 0-.68 1.16-2.448 1.216z')
        // Mastodon
        a.me-3(rel='me' href='https://mastodon.social/@silkky', target='_blank')
          // Mastodon logo
          svg.bi.bi-mastodon.text-white(xmlns='http://www.w3.org/2000/svg', width='25', height='25', fill='currentColor', viewbox='0 0 16 16')
            path(d='M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z')

  // Primary
  .row.row-cols-1.row-cols-md-1.g-4.text-white

    // Develop
    .col
      .p-4.card.bg-dark
        // Title
        h1#Develop.fs-2.fw-bold Developing 
          // Develop icon
          svg.bi.bi-code-slash(xmlns='http://www.w3.org/2000/svg', width='32', height='32', fill='currentColor', viewbox='0 0 16 16')
            path(d='M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z')
        // Content
        p.mt-2 All contributions to Silkky.Cloud are welcome! Just remember to be respectful. <br> <a href="https://github.com/silkkycloud/silkky.cloud/blob/master/CODE_OF_CONDUCT.md" target="_blank">Code of Conduct</a>
        p <b>A couple of rules:</b>
        p <b>-</b> Make detailed commits <br> <b>-</b> Verify your <a href="https://docs.github.com/en/github/authenticating-to-github/managing-commit-signature-verification" target="_blank">commits with GPG</a>
        p.mt-1.fs-5.text-muted Get involved: <br>
          a.text-white.fw-bold(href="https://github.com/silkkycloud/" target="_blank") <svg height="25" viewBox="0 0 45 16" xmlns="http://www.w3.org/2000/svg" width="84"><path fill="#ffffff" d="M18.53 12.03h-.02c.009 0 .015.01.024.011h.006l-.01-.01zm.004.011c-.093.001-.327.05-.574.05-.78 0-1.05-.36-1.05-.83V8.13h1.59c.09 0 .16-.08.16-.19v-1.7c0-.09-.08-.17-.16-.17h-1.59V3.96c0-.08-.05-.13-.14-.13h-2.16c-.09 0-.14.05-.14.13v2.17s-1.09.27-1.16.28c-.08.02-.13.09-.13.17v1.36c0 .11.08.19.17.19h1.11v3.28c0 2.44 1.7 2.69 2.86 2.69.53 0 1.17-.17 1.27-.22.06-.02.09-.09.09-.16v-1.5a.177.177 0 00-.146-.18zM42.23 9.84c0-1.81-.73-2.05-1.5-1.97-.6.04-1.08.34-1.08.34v3.52s.49.34 1.22.36c1.03.03 1.36-.34 1.36-2.25zm2.43-.16c0 3.43-1.11 4.41-3.05 4.41-1.64 0-2.52-.83-2.52-.83s-.04.46-.09.52c-.03.06-.08.08-.14.08h-1.48c-.1 0-.19-.08-.19-.17l.02-11.11c0-.09.08-.17.17-.17h2.13c.09 0 .17.08.17.17v3.77s.82-.53 2.02-.53l-.01-.02c1.2 0 2.97.45 2.97 3.88zm-8.72-3.61h-2.1c-.11 0-.17.08-.17.19v5.44s-.55.39-1.3.39-.97-.34-.97-1.09V6.25c0-.09-.08-.17-.17-.17h-2.14c-.09 0-.17.08-.17.17v5.11c0 2.2 1.23 2.75 2.92 2.75 1.39 0 2.52-.77 2.52-.77s.05.39.08.45c.02.05.09.09.16.09h1.34c.11 0 .17-.08.17-.17l.02-7.47c0-.09-.08-.17-.19-.17zm-23.7-.01h-2.13c-.09 0-.17.09-.17.2v7.34c0 .2.13.27.3.27h1.92c.2 0 .25-.09.25-.27V6.23c0-.09-.08-.17-.17-.17zm-1.05-3.38c-.77 0-1.38.61-1.38 1.38 0 .77.61 1.38 1.38 1.38.75 0 1.36-.61 1.36-1.38 0-.77-.61-1.38-1.36-1.38zm16.49-.25h-2.11c-.09 0-.17.08-.17.17v4.09h-3.31V2.6c0-.09-.08-.17-.17-.17h-2.13c-.09 0-.17.08-.17.17v11.11c0 .09.09.17.17.17h2.13c.09 0 .17-.08.17-.17V8.96h3.31l-.02 4.75c0 .09.08.17.17.17h2.13c.09 0 .17-.08.17-.17V2.6c0-.09-.08-.17-.17-.17zM8.81 7.35v5.74c0 .04-.01.11-.06.13 0 0-1.25.89-3.31.89-2.49 0-5.44-.78-5.44-5.92S2.58 1.99 5.1 2c2.18 0 3.06.49 3.2.58.04.05.06.09.06.14L7.94 4.5c0 .09-.09.2-.2.17-.36-.11-.9-.33-2.17-.33-1.47 0-3.05.42-3.05 3.73s1.5 3.7 2.58 3.7c.92 0 1.25-.11 1.25-.11v-2.3H4.88c-.11 0-.19-.08-.19-.17V7.35c0-.09.08-.17.19-.17h3.74c.11 0 .19.08.19.17z"/></svg>
  

    // Donate
    .col
      .p-4.card.bg-dark
        // Title
        h1#Donate.fs-2.fw-bold Donate 
          // Donate icon
          svg.bi.bi-cash(xmlns='http://www.w3.org/2000/svg', width='32', height='32', fill='currentColor', viewbox='0 0 16 16')
            path(d='M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z')
            path(d='M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z')
        // Content
        p Donate to keep the IRS from following me &#128176;

        // Liberapay
        .p-2 
          p.fs-4.fw-bold Liberapay 
            img(src="../assets/img/liberapay.svg", width="32")
          p Recurring donations can be made with Liberapay
          a.mt-2(href="https://liberapay.com/silkkycloud/", target="_blank") <img src="../assets/img/liberapay-donate.svg" height="32">

        // Buymeacoffee
        .p-2 
          p.fs-4.fw-bold Buymeacoffee
            img(src="../assets/img/buymeacoffee.svg", width="32")
          p One-time donations can be made with Buymeacoffee
          a.mt-2(href="https://buymeacoffee.com/silkkycloud/", target="_blank") <img src="../assets/img/buymeacoffee-donate.png" height="32">
          
        // Monero
        .p-2
          p.fs-4.fw-bold Monero 
            img(src="../assets/img/monero.svg", width="32")
          .mt-2.p-2.rounded-3.bg-light.fw-bold.text-dark 856E1v6ab4W3AEnkW8Zyd66SJ3ckwbACdLiiFNg1kZeT6Qx5YS3eGcCDwJwaBKh3os9EtdWw6GAwUfGh6UzcYxoVJ5HvgMu
        
        // Ethereum
        .p-2
          p.fs-4.fw-bold Ethereum 
            img(src="../assets/img/ethereum.svg", height="34")
          .mt-2.p-2.rounded-3.bg-light.fw-bold.text-dark 0xfdd4f4618902dc1f388bC58CceC9E622d7319Ff6

        // Bitcoin
        .p-2 
          p.fs-4.fw-bold Bitcoin 
            img(src="../assets/img/bitcoin.svg", width="32")
          .mt-2.p-2.rounded-3.bg-light.fw-bold.text-dark bc1qjjzzm79gpaujyteu8yhjyxla0hhj224ppktyaa