<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="privacy, decentralization, open-source, web services, free, silkkycloud, silkky, expenses">
  <meta name="description" content="Please donate to get the IRS off my back :)">
  <meta property="og:image" content="https://silkky.cloud/img/logo_background.png">

  <title>Silkkycloud - Donate</title>

<!-- Scripts and Styles -->
<%- include('../partials/link') %>

</head>

<body>

<!-- Navigation -->
<%- include('../partials/nav') %>

  <br>
  <br>

  <div class="container py-5">

    <div class="card-header text-center border-warning">
      <h1>Donate</h1>
      <p>Please donate to get the IRS off my back :)</p>
    </div>

    <div class="card-group">
          
      <div class="card text-center">
        <div class="card-header">
          <h1 class="card-title"><span class="badge badge-dark-custom">Crypto</span></h1>
        </div>
        <div class="card-body">
          <div class="accordion" id="accordion-crypto">
            <div class="card bg-light">
              <div class="card-header" id="headingOneCrypto">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseOneCrypto" aria-expanded="true" aria-controls="collapseOneCrypto">
                    <img src="../img/ethereum-text.svg" height="30" class="d-inline-block align-top" alt="Ethereum">
                  </button>
                </h5>
              </div>
          
              <div id="collapseOneCrypto" class="collapse" aria-labelledby="headingOneCrypto" data-parent="#accordion-crypto">
                <div class="card-body">
                  0xfdd4f4618902dc1f388bC58CceC9E622d7319Ff6
                </div>
              </div>
            </div>
            <br>
            <div class="card bg-light">
              <div class="card-header" id="headingTwoCrypto">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseTwoCrypto" aria-expanded="false" aria-controls="collapseTwoCrypto">
                    <img src="../img/bitcoin-text.svg" height="30" class="d-inline-block align-top" alt="Bitcoin">
                  </button>
                </h5>
              </div>
              <div id="collapseTwoCrypto" class="collapse" aria-labelledby="headingTwoCrypto" data-parent="#accordion-crypto">
                <div class="card-body">
                  bc1qjjzzm79gpaujyteu8yhjyxla0hhj224ppktyaa
                </div>
              </div>
            </div>
            <br>
            <div class="card bg-light">
              <div class="card-header" id="headingThreeCrypto">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseThreeCrypto" aria-expanded="false" aria-controls="collapseThreeCrypto">
                    <img src="../img/monero-text.svg" height="30" class="d-inline-block align-top" alt="Monero">
                  </button>
                </h5>
              </div>
              <div id="collapseThreeCrypto" class="collapse" aria-labelledby="headingThreeCrypto" data-parent="#accordion-crypto">
                <div class="card-body">
                  856E1v6ab4W3AEnkW8Zyd66SJ3ckwbACdLiiFNg1kZeT6Qx5YS3eGcCDwJwaBKh3os9EtdWw6GAwUfGh6UzcYxoVJ5HvgMu
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-header">
          <h1 class="card-title"><span class="badge badge-dark-custom">Card</span></h1>
        </div>
        <div class="card-body">
          <div class="accordion" id="accordion-norm">
            <div class="card bg-light">
              <div class="card-header" id="headingOneNorm">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseOneNorm" aria-expanded="true" aria-controls="collapseOneNorm">
                    <img src="../img/liberapay.svg" height="30" class="d-inline-block align-top" alt="Liberapay">
                  </button>
                </h5>
              </div>
              <div id="collapseOneNorm" class="collapse" aria-labelledby="headingOneNorm" data-parent="#accordion-norm">
                <div class="card-body">
                  <a href="https://liberapay.com/silkkycloud/" target="_blank"><img alt="Donate using Liberapay" src="../img/liberapay-donate.svg"></a>
                  <br>
                  Donate with Liberapay to make a recurring donation.
                </div>
              </div>
            </div>
            <br>
            <div class="card bg-light">
              <div class="card-header" id="headingTwoNorm">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseTwoNorm" aria-expanded="false" aria-controls="collapseTwoNorm">
                    <img src="../img/buymeacoffee-text.png" height="30" class="d-inline-block align-top" alt="Bitcoin">
                  </button>
                </h5>
              </div>
              <div id="collapseTwoNorm" class="collapse" aria-labelledby="headingTwoNorm" data-parent="#accordion-norm">
                <div class="card-body">
                  <a href="https://www.buymeacoffee.com/silkkycloud" target="_blank"><img src="../img/buymeacoffee-donate.png" alt="Buy Me A Coffee" style="height: 32.2727px !important;width: 116.6363px !important;" ></a>
                  <br>
                  Donate with Buymeacoffee to make a one-time donation.
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  
  </div>

  <div class="container py-5">

    <div class="card-header text-center border-info">
      <h1>Our Expenses</h1>
    </div>

    <div class="card-group">

      <div class="card text-center">
        <div class="card-header">
          <h1 class="card-title"><span class="badge badge-dark-custom">Expenses</span></h1>
        </div>
        <div class="card-body">
          <div class="accordion" id="accordion-expenses">
            <div class="card bg-light">
              <div class="card-header" id="headingOneExpenses">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseOneExpenses" aria-expanded="true" aria-controls="collapseOneExpenses">
                    <h4 class="card-text text-dark">Servers</h4>
                  </button>
                </h5>
              </div>
          
              <div id="collapseOneExpenses" class="collapse" aria-labelledby="headingOneExpenses" data-parent="#accordion-expenses">
                <div class="card-header bg-dark-custom">
                  <img src="../img/hetzner.svg" height="30" class="d-inline-block align-top" alt="Hetzner">
                </div>
                <div class="card-body bg-dark-custom text-left">
                  <p class="card-text">
                    <b>AX41-NVME: </b> 34€ /m (excl. VAT) <br />
                    <b>CX41: </b> 17.49€ /m (excl. VAT) <br />
                    <b>CX41: </b> 17.49€ /m (excl. VAT)
                  </p>
                </div>
                <div class="card-body bg-dark-custom text-left">
                  <p class="card-text">
                    <b>TOTAL: </b> 75.87€ /m (incl. VAT 10%) <br />
                    <b>TOTAL YEARLY: </b> 910.55€ /yr
                  </p>
                </div>
              </div>
            </div>
            <br>
            <div class="card bg-light">
              <div class="card-header" id="headingTwoExpenses">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseTwoExpenses" aria-expanded="false" aria-controls="collapseTwoExpenses">
                    <h4 class="card-text text-dark">Domains</h4>
                  </button>
                </h5>
              </div>
              <div id="collapseTwoExpenses" class="collapse" aria-labelledby="headingTwoExpenses" data-parent="#accordion-expenses">
                <div class="card-header bg-dark-custom">
                  <img src="../img/njalla.svg" height="30" class="d-inline-block align-top" alt="Njalla">
                </div>
                <div class="card-body bg-dark-custom text-left">
                  <p class="card-text">
                    <b>silkky.cloud: </b> 30€ /yr <br />
                    <b>sil.rs: </b> 30€ /yr <br />
                    <b><i>hidden (for security): </i></b> 15€ /yr
                  </p>
                </div>
                <div class="card-body bg-dark-custom text-left">
                  <p class="card-text">
                    <b>TOTAL: </b> 75€ /yr
                  </p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>

    </div>

  </div>

<!-- Footer -->
<%- include('../partials/footer') %>

</body>

</html>