extends ../templates/base/structure.pug

block meta
  - var metaTitle = 'Support'
  - var metaDesc = 'Protecting your information and anonymity against global surveillance.'
  - var ogMetaTitle = 'Silkky.Cloud - Support'
  - var ogMetaDesc = 'Protecting your information and anonymity against global surveillance.'
  - var twitterMetaTitle = 'Silkky.Cloud - Support'
  - var twitterMetaDesc = 'Protecting your information and anonymity against global surveillance.'
  include ../templates/base/meta.pug
block contents
  .py-5

    .card-header.text-center.text-white.border-info
      h1 Support

    .card-group

      // Ticket
      .card.bg-dark.text-center.text-white
        .card-header
          h1.card-title
            span.badge.badge-dark-custom Email
        .card-body
          p.card-text
            b For issues relating to accounts etc. This is the preferred method
        .card-footer
          a.btn.btn-light(href='mailto:support@silkky.cloud', target='_blank') Email Support
          br
          p support@silkky.cloud

    // Discord
    .card.bg-dark.text-center.text-white
      .card-header
        h1.card-title
          span.badge.badge-dark-custom Discord
      .card-body
        p.card-text
          b For ideas, technical issues etc. This is the preferred method
      .card-footer
        a(href='https://discord.gg/uCTfFQhWjR', target='_blank')
          img.d-inline-block.align-top(src='../assets/img/discord.svg', height='50', alt='Join our Discord')