<!DOCTYPE html>
<html lang="en">

<head>

  <title>Support</title>

  <!-- Meta -->
  <%- include('../partials/meta') %>

  <!-- Scripts and Styles -->
  <%- include('../partials/link') %>

</head>

<body>

  <!-- Navigation -->
  <%- include('../partials/nav') %>

  <div class="container py-5">

    <div class="card-header text-center text-white border-info">
      <h1>Support</h1>
    </div>

    <div class="card-group">
      <div class="card bg-dark text-center text-white">
				<div class="card-header">
					<h1 class="card-title"><span class="badge badge-dark-custom">Ticket</span></h1>
				</div>
				<div class="card-body">
          <p class="card-text"><b>For issues relating to accounts etc. This is the preferred method</b></p>
          <p class="card-text">Please make sure to enter a valid email address otherwise you won't get a response.</p>
				</div>
        <div class="card-footer">
          <a href="https://support.silkky.cloud/help/3508421742" class="btn btn-light" target="_blank">Open a Ticket</a>
        </div>
      </div>
      </div>
      <div class="card bg-dark text-center text-white">
        <div class="card-header">
          <h1 class="card-title"><span class="badge badge-dark-custom">Discord</span></h1>
        </div>
        <div class="card-body">
          <p class="card-text"><b>For ideas, technical issues etc. This is the preferred method</b></p>
        </div>
        <div class="card-footer">
          <a href="https://discord.gg/uCTfFQhWjR" target="_blank"><img src="../assets/img/discord.svg" height="50" class="d-inline-block align-top" alt="Join our Discord"></a>
        </div>
      </div>
    </div>
  
  </div>

<!-- Footer -->
<%- include('../partials/footer') %>

</body>

</html>
