<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="privacy, decentralization, open-source, web services, free, silkkycloud, silkky">
  <meta name="description" content="We are dedicated to hosting open-source, privacy respecting, decentralized applications for the purpose of Protecting your information and anonymity against global surveillance.">
  <meta property="og:image" content="../assets/img/logo_background.png">

  <title>silkky.cloud</title>

<!-- Scripts and Styles -->
<%- include('../partials/link') %>

</head>

<body>
  
<!-- Navigation -->
<%- include('../partials/nav') %>

  <br>
  <br>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron -->
    <%- include('../partials/jumbotron') %>

    <div class="row row-cols-2 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Searx <!--<span class="badge badge-success">Up</span>--></h4>
            <p class="card-text">Searx is a privacy-respecting metasearch engine that aggregates results from other search engines (duckduckgo, google etc). Results are proxied so your ip address is never exposed.</p>
          </div>
          <div class="card-footer">
            <a href="https://searx.silkky.cloud/" class="btn btn-outline-light d-grid" target="_blank"><b>Search!</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">PrivateBin <!--<span class="badge badge-success">Up</span>--></h4>
            <p class="card-text">PrivateBin is a minimalist, open source online pastebin where the server has zero knowledge of pasted data. Data is encrypted in the browser using 256bit AES.</p>
          </div>
          <div class="card-footer">
            <a href="https://privatebin.silkky.cloud" class="btn btn-outline-light d-grid" target="_blank"><b>Paste!</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Matrix <!--<span class="badge badge-danger">Down</span>--></h4>
            <p class="card-text"></a>Matrix is an open source project that publishes the Matrix open standard for secure, decentralized, real-time communication. Matrix provides end-to-end-encrypted messaging via Olm and Megolm. <a href="https://hedgedoc.silkky.cloud/s/4rM13PQC8#" target="_blank">How to use</a></p>
          </div>
          <div class="card-footer">
            <a href="https://chat.silkky.cloud" class="btn btn-outline-light d-grid" target="_blank"><b>Chat!</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Bitwarden <!--<span class="badge badge-success">Up</span>--></h4>
            <p class="card-text">Bitwarden offers the easiest and safest way for teams and individuals to store and share sensitive data from any device. Your private information is protected with end-to-end encryption before it ever leaves your device. <a href="https://hedgedoc.silkky.cloud/s/Q-3AMvzrr#" target="_blank">More information on security</a></p>
          </div>
          <div class="card-footer">
            <a href="https://vault.silkky.cloud" class="btn btn-outline-light d-grid" target="_blank"><b>Vault!</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Invidious <span class="badge bg-danger">Down</span></h4>
            <p class="card-text">Invidious is an alternative front-end to YouTube with no ads, no tracking and no google account.</p>
          </div>
          <div class="card-footer">
            <a href="https://invidious.silkky.cloud/" class="btn btn-outline-light d-grid" target="_blank"><b>Watch!</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Vikunja <!--<span class="badge badge-success">Up</span>--></h4>
            <p class="card-text">The to-do app to organize your life. Vikunja is an open-source, self-hosted to-do list application for all platforms.</p>
          </div>
          <div class="card-footer">
            <a href="https://tasks.silkky.cloud/" class="btn btn-outline-light d-grid" target="_blank"><b>Organize!</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">HedgeDoc <!--<span class="badge badge-success">Up</span>--></h4>
            <p class="card-text">The best platform to write and share markdown. HedgeDoc is an open-source collaborative markdown editor. With HedgeDoc you can easily collaborate on notes, graphs and even presentations in real-time.</p>
          </div>
          <div class="card-footer">
            <a href="https://hedgedoc.silkky.cloud" class="btn btn-outline-light d-grid" target="_blank"><b>Markdown!</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Etherpad <!--<span class="badge badge-success">Up</span>--></h4>
            <p class="card-text">Etherpad is a real-time collaborative rich text editor.</p>
          </div>
          <div class="card-footer">
            <a href="https://pad.silkky.cloud/" class="btn btn-outline-light d-grid" target="_blank"><b>Edit!</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Libreddit <!--<span class="badge badge-success">Up</span>--></h4>
            <p class="card-text">Libreddit is a private front-end like Invidious but for Reddit. Browse the coldest takes of r/unpopularopinion without being tracked.</p>
          </div>
          <div class="card-footer">
            <a href="https://libreddit.silkky.cloud/" class="btn btn-outline-light d-grid" target="_blank"><b>Browse!</b></a>
          </div>
        </div>
      </div>

  </div>

  <br>
  <br>
  <br>
  <!-- /.container -->

<!-- Footer -->
<%- include('../partials/footer') %>

</body>

</html>