doctype html
head
  title Silkky.Cloud

  // Meta
  include ../templates/static/meta.pug
  // Scripts and Styles
  include ../templates/static/link.pug

body 

  // Navigation
  include ../templates/static/nav.pug

  // Page Content
  .container

    // Jumbotron
    include ../templates/static/jumbotron.pug

    - var alertMessage = 'Matrix is getting retired'
    - var alertUrl = 'https://status.silkky.cloud/history' 
    include ../templates/dynamic/alert/alert-info.pug

    // Instances
    .row.row-cols-1.row-cols-md-3.g-4

      // Searx
      - var instanceTitle = 'Searx' 
      - var instanceDesc = 'Searx is a privacy-respecting metasearch engine that aggregates results from other search engines (duckduckgo, google etc). Results are proxied so your ip address is never exposed.'
      - var instanceUrl = 'https://searx.silkky.cloud/'
      - var instanceButton = 'Search!'
      include ../templates/dynamic/instance/instance.pug

      // Whoogle
      - var instanceTitle = 'Whoogle' 
      - var instanceDesc = 'Get Google search results, but without any ads, javascript, AMP links, cookies, or IP address tracking. Great alternative to Searx if you like the "Google" look.'
      - var instanceUrl = 'https://whoogle.silkky.cloud/'
      - var instanceButton = 'Search!'
      include ../templates/dynamic/instance/instance-new.pug

      // Invidious
      - var instanceTitle = 'Invidious' 
      - var instanceDesc = 'Invidious is an alternative front-end to YouTube with no ads, no tracking and no google account.'
      - var instanceUrl = 'https://invidious.silkky.cloud/'
      - var instanceButton = 'Watch!'
      include ../templates/dynamic/instance/instance.pug

      // Libreddit
      - var instanceTitle = 'Libreddit' 
      - var instanceDesc = 'Libreddit is a private front-end like Invidious but for Reddit. Browse the coldest takes of r/unpopularopinion without being tracked.'
      - var instanceUrl = 'https://libreddit.silkky.cloud/'
      - var instanceButton = 'Browse!'
      include ../templates/dynamic/instance/instance.pug

      // Bitwarden
      - var instanceTitle = 'Bitwarden' 
      - var instanceDesc = 'Bitwarden offers the easiest and safest way for teams and individuals to store and share sensitive data from any device. Your private information is protected with end-to-end encryption before it ever leaves your device.'
      - var instanceUrl = 'https://vault.silkky.cloud/'
      - var instanceButton = 'Vault!'
      include ../templates/dynamic/instance/instance.pug

      // Sharedrop
      - var instanceTitle = 'Sharedrop'
      - var instanceDesc = 'ShareDrop is a free web app that allows you to easily and securely share files directly between devices without uploading them to any server first.'
      - var instanceUrl = 'https://drop.silkky.cloud/'
      - var instanceButton = 'Drop!'
      include ../templates/dynamic/instance/instance-coming-soon.pug

      // Etherpad
      - var instanceTitle = 'Etherpad' 
      - var instanceDesc = 'Etherpad is a real-time collaborative rich text editor like Google Docs without any tracking.'
      - var instanceUrl = 'https://pad.silkky.cloud/'
      - var instanceButton = 'Edit!'
      include ../templates/dynamic/instance/instance.pug

      // HedgeDoc
      - var instanceTitle = 'HedgeDoc' 
      - var instanceDesc = 'The best platform to write and share markdown. HedgeDoc is an open-source collaborative markdown editor. With HedgeDoc you can easily collaborate on notes, graphs and even presentations in real-time.'
      - var instanceUrl = 'https://hedgedoc.silkky.cloud/'
      - var instanceButton = 'Markdown!'
      include ../templates/dynamic/instance/instance.pug

      // Vikunja
      - var instanceTitle = 'Vikunja' 
      - var instanceDesc = 'The to-do app to organize your life. Vikunja is an open-source, self-hosted to-do list application for all platforms.'
      - var instanceUrl = 'https://tasks.silkky.cloud/'
      - var instanceButton = 'Organize!'
      include ../templates/dynamic/instance/instance.pug

      // PrivateBin
      - var instanceTitle = 'PrivateBin' 
      - var instanceDesc = 'PrivateBin is a minimalist, open source online pastebin where the server has zero knowledge of pasted data. Data is encrypted in the browser using 256bit AES.'
      - var instanceUrl = 'https://privatebin.silkky.cloud/'
      - var instanceButton = 'Paste!'
      include ../templates/dynamic/instance/instance.pug

  // Footer
  include ../templates/static/footer.pug