extends ../templates/base/structure.pug

block contents
  // Jumbotron
  .p-4.mb-4.text-white.bg-dark.rounded-3
    noscript
      .alert.alert-danger Javascript is disabled in your browser. This site won't function correctly.
    .container-fluid.ps-4.py-5
      div
        // Title
        h1.display-4.fw-bold
          .text-info Silkky
          .text-white .Cloud
        // Description
        p.col-md-8.fs-4 Open-source, privacy respecting, decentralized applications for the purpose of Protecting your information and anonymity against global surveillance.

        .pt-3
          // Contribute
          a.btn.btn-lg.btn-info.shadow.me-2.mb-2(href='../contribute') Contribute
            // Contribute icon
            svg.bi.bi-arrow-right(xmlns='http://www.w3.org/2000/svg', width='18', height='18', fill='currentColor', viewbox='0 0 16 16')
              path(fill-rule='evenodd', d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z')
          // Get help
          a.btn.btn-lg.btn-light.shadow.me-2.mb-2(href='../help') Get Help
            // Help icon
            svg.bi.bi-wrench(xmlns='http://www.w3.org/2000/svg', width='18', height='18', fill='currentColor', viewbox='0 0 16 16')
              path(d='M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z')

      // Links
      .pt-4
        // Github
        a.me-3(href='https://github.com/silkkycloud/', target='_blank')
          // Github logo
          svg.text-white.bi.bi-github(xmlns='http://www.w3.org/2000/svg', width='25', height='25', fill='currentColor', viewbox='0 0 16 16')
            path(d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z')
        // Discord
        a.me-3(href='https://discord.gg/BvqJQ3hNrQ', target='_blank')
          // Discord logo
          svg.text-white.bi.bi-discord(xmlns='http://www.w3.org/2000/svg', width='25', height='25', fill='currentColor', viewbox='0 0 16 16')
            path(d='M6.552 6.712c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888.008-.488-.36-.888-.816-.888zm2.92 0c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888s-.36-.888-.816-.888z')
            path(d='M13.36 0H2.64C1.736 0 1 .736 1 1.648v10.816c0 .912.736 1.648 1.64 1.648h9.072l-.424-1.48 1.024.952.968.896L15 16V1.648C15 .736 14.264 0 13.36 0zm-3.088 10.448s-.288-.344-.528-.648c1.048-.296 1.448-.952 1.448-.952-.328.216-.64.368-.92.472-.4.168-.784.28-1.16.344a5.604 5.604 0 0 1-2.072-.008 6.716 6.716 0 0 1-1.176-.344 4.688 4.688 0 0 1-.584-.272c-.024-.016-.048-.024-.072-.04-.016-.008-.024-.016-.032-.024-.144-.08-.224-.136-.224-.136s.384.64 1.4.944c-.24.304-.536.664-.536.664-1.768-.056-2.44-1.216-2.44-1.216 0-2.576 1.152-4.664 1.152-4.664 1.152-.864 2.248-.84 2.248-.84l.08.096c-1.44.416-2.104 1.048-2.104 1.048s.176-.096.472-.232c.856-.376 1.536-.48 1.816-.504.048-.008.088-.016.136-.016a6.521 6.521 0 0 1 4.024.752s-.632-.6-1.992-1.016l.112-.128s1.096-.024 2.248.84c0 0 1.152 2.088 1.152 4.664 0 0-.68 1.16-2.448 1.216z')
        // Mastodon
        a.me-3(rel='me' href='https://mastodon.social/@silkky', target='_blank')
          // Mastodon logo
          svg.bi.bi-mastodon.text-white(xmlns='http://www.w3.org/2000/svg', width='25', height='25', fill='currentColor', viewbox='0 0 16 16')
            path(d='M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z')

  // Alert
  - alertType = 0
  - alertUrl = 'https://silkky.cloud/privacy#Ackee'
  - alertMessage = 'Privacy Policy (Additional policies / exceptions) has been updated, please read the changes.'
  include ../templates/dynamic/alert.pug

  // Instances
  .row.row-cols-1.row-cols-md-3.g-4

    // Searx
    - instanceType = 0
    - instanceTitle = 'Searx'
    - instanceDesc = 'Searx is a privacy-respecting metasearch engine that aggregates results from other search engines (duckduckgo, google etc). Results are proxied so your ip address is never exposed.'
    - instanceUrl = 'https://searx.silkky.cloud/'
    - instanceButton = 'Search!'
    include ../templates/dynamic/instance.pug

    // Invidious
    - instanceType = 0
    - instanceTitle = 'Invidious'
    - instanceDesc = 'Invidious is an alternative front-end to YouTube with no ads, no tracking and no google account.'
    - instanceUrl = 'https://invidious.silkky.cloud/'
    - instanceButton = 'Watch!'
    include ../templates/dynamic/instance.pug

    // Send
    - instanceType = 3
    - instanceTitle = 'Send'
    - instanceDesc = 'Simple, private file sharing. Send lets you share files with end-to-end encryption and a link that automatically expires. So you can keep what you share private and make sure your stuff doesn’t stay online forever.'
    - instanceUrl = 'https://send.silkky.cloud/'
    - instanceButton = 'Send!'
    include ../templates/dynamic/instance.pug

    // Vikunja
    - instanceType = 0
    - instanceTitle = 'Vikunja'
    - instanceDesc = 'The to-do app to organize your life. Vikunja is an open-source, self-hosted to-do list application for all platforms.'
    - instanceUrl = 'https://tasks.silkky.cloud/'
    - instanceButton = 'Organize!'
    include ../templates/dynamic/instance.pug

    // Bitwarden
    - instanceType = 0
    - instanceTitle = 'Bitwarden'
    - instanceDesc = 'Bitwarden offers the easiest and safest way for teams and individuals to store and share sensitive data from any device. Your private information is protected with end-to-end encryption before it ever leaves your device.'
    - instanceUrl = 'https://vault.silkky.cloud/'
    - instanceButton = 'Vault!'
    include ../templates/dynamic/instance.pug

    // Libreddit
    - instanceType = 0
    - instanceTitle = 'Libreddit'
    - instanceDesc = 'Libreddit is a private front-end like Invidious but for Reddit. Browse the coldest takes of r/unpopularopinion without being tracked.'
    - instanceUrl = 'https://libreddit.silkky.cloud/'
    - instanceButton = 'Browse!'
    include ../templates/dynamic/instance.pug

    // Whoogle
    - instanceType = 3
    - instanceTitle = 'Whoogle'
    - instanceDesc = 'Get Google search results, but without any ads, javascript, AMP links, cookies, or IP address tracking. Great alternative to Searx if you like the "Google" look.'
    - instanceUrl = 'https://whoogle.silkky.cloud/'
    - instanceButton = 'Search!'
    include ../templates/dynamic/instance.pug

    // Etherpad
    - instanceType = 0
    - instanceTitle = 'Etherpad'
    - instanceDesc = 'Etherpad is a real-time collaborative rich text editor like Google Docs without any tracking.'
    - instanceUrl = 'https://pad.silkky.cloud/'
    - instanceButton = 'Edit!'
    include ../templates/dynamic/instance.pug

    // HedgeDoc
    - instanceType = 0
    - instanceTitle = 'HedgeDoc'
    - instanceDesc = 'The best platform to write and share markdown. HedgeDoc is an open-source collaborative markdown editor. With HedgeDoc you can easily collaborate on notes, graphs and even presentations in real-time.'
    - instanceUrl = 'https://hedgedoc.silkky.cloud/'
    - instanceButton = 'Markdown!'
    include ../templates/dynamic/instance.pug

    // PrivateBin
    - instanceType = 0
    - instanceTitle = 'PrivateBin'
    - instanceDesc = 'PrivateBin is a minimalist, open source online pastebin where the server has zero knowledge of pasted data. Data is encrypted in the browser using 256bit AES.'
    - instanceUrl = 'https://privatebin.silkky.cloud/'
    - instanceButton = 'Paste!'
    include ../templates/dynamic/instance.pug
