<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="privacy, decentralization, open-source, web services, free, silkkycloud, silkky, legal notice, legal">
  <meta name="description" content="Our Legal Notice">
  <meta property="og:image" content="https://silkky.cloud/img/logo_background.png">

  <title>Silkkycloud - Legal Notice</title>

<!-- Scripts and Styles -->
<%- include('../partials/link') %>

</head>

<body>
  
<!-- Navigation -->
<%- include('../partials/nav') %>

  <div class="container py-5">

    <div class="card-header text-center border-info">
      <h1>Legal Notice</h1>
      <p>Legal contact info.</p>
    </div>

    <div class="card-group">

      <div class="card text-center">
        <div class="card-header">
          <h1 class="card-title"><span class="badge badge-dark-custom">Information</span></h1>
        </div>
        <div class="card-body">
          <span class="badge badge-info">Contact</span> <br />
          <p class="card-text text-white">legal@silkky.cloud</p>
          <span class="badge badge-info">Info</span>
          <p class="card-text unselectable">
            <b>Oscar Melton</b> <br>
            6 Benjamin Street <br>
            3831 Neerim South<br>
            Victoria <br>
            Australia
          </p>
        </div>
      </div>

    </div>

  </div>

<!-- Footer -->
<%- include('../partials/footer') %>

</body>

</html>