<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="privacy, decentralization, open-source, web services, free, silkkycloud, silkky, privacy policy">
  <meta name="description" content="Our Privacy Policy.">
  <meta property="og:image" content="https://silkky.cloud/img/logo_background.png">

  <title>Silkkycloud - Privacy Policy</title>
  <link rel="shortcut icon" href="../favicon.ico"/>
  
<!-- Scripts and Styles -->
<%- include('../partials/link') %>

</head>

<body>

<!-- Navigation -->
<%- include('../partials/nav') %>

  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <br>
        <h1 id="privacy-policy">Privacy Policy</h1>
        <p><strong>Your data is only used to provide our services. No data is ever shared with a third-party</strong></p>
        <br>
        <h2 id="-contact-"><strong>Contact</strong></h2>
        <p>if you any questions regarding the following Privacy Policy, contact us here:</p>
        <p><strong>E-Mail: legal@silkky.cloud</strong></p>
        <br>
        <h2 id="-scope-"><strong>Scope</strong></h2>
        <p><strong>This privacy policy is valid for every service listed on:
        <a href="https://silkky.cloud">https://silkky.cloud</a></strong></p>
        <br>
        <h2 id="-definitions-"><strong>Definitions</strong></h2>
        <p><strong>Relevant definitions as defined in Article 4 (1,2,7) GDPR</strong>.</p>
        <p><strong>(1)</strong> ‘personal data’ means any information relating to an identified or identifiable natural person;</p>
        <p><strong>(2)</strong> ‘processing’ means any operation or set of operations which is performed on personal data or on sets of personal data, whether or not by automated means, such as collection, recording, organisation, structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, restriction, erasure or destruction;</p>
        <p><strong>(7)</strong> &#39;controller’ means the natural or legal person, public authority, agency or other body which, alone or jointly with others, determines the purposes and means of the processing of personal data;</p>
        <br>
        <h2 id="-your-rights-"><strong>Your Rights</strong></h2>
        <p><strong>The General Data Protection Regulation (GDPR) and Data Protection Act 2018 (DPA) defines a number of rights you have in regard to your personal data.</strong></p>
        <p>You have the right to request the deletion or erasure of your personal data, you may also (depending on the circumstance) request a copy of your personal data. The right to object to or restrict data processing. If you have previously provided consent for the processing of your personal data you may be able (depending on the circumstance) to withdraw consent at any time, withdrawing consent doesn&#39;t affect the lawfulness of data processed prior to your consent being withdrawn.</p>
        <br>
        <h2 id="-controller-"><strong>Controller</strong></h2>
        <p class="unselectable">
        <strong>Oscar Melton</strong><br />
        6 Benjamin Street<br />
        3831 Neerim South<br />
        Victoria<br />
        Australia<br />
        legal@silkky.cloud</p>
        <br>
        <h2 id="-personal-data-we-collect-and-process-"><strong>Personal data we collect and process</strong></h2>
        <p><strong>By default we do not process any personal data</strong>, excluding technically necessary data (IP address and user agent). Your IP address and user agent are automatically processed by our server(s) when you visit any of our services. Our server(s) uses your IP address to deliver content to your browser. Under Article 6 (1) b GDPR we have a legitimate legal basis for processing this data.</p>
        <br>
        <h3 id="-logs-"><strong>Logs</strong></h3>
        <p>Our server(s) generates logs automatically, these logs (depending on the service see additional policies / exceptions) may contain data such as your IP address, user agent and URL you accessed from. However these logs are not retained and are kept for no more then 24 hours. <strong>By default our server(s) don&#39;t save any logs</strong>, the only time we save logs is for fixing problems or investigating attacks, only for a period of 24 hours.</p>
        <br>
        <h3 id="-registration-data-"><strong>Registration Data</strong></h3>
        <p><strong>Some services on silkky.cloud offer the option to register an account.</strong> During the registration process you may be required to provide personal information such as a username or email address to allocate your data. Our  legal basis for collecting this data is Article 6 (1) b GDPR. You can delete your account(s) by accessing the respective service or <a href="https://support.silkky.cloud/help/3508421742">contact us</a>.</p>
        <br>
        <h2 id="-storage-and-access-to-data-"><strong>Storage and Access to data</strong></h2>
        <p><strong>Where possible your data is encrypted.</strong> All of your data is stored on our server(s) in a secure data center owned and operated by Hetzner Online GmbH in Helsinki, Finland. We will never look at or share any personal data with a third party.</p>
        <br>
        <h3 id="-deleting-account-s-"><strong>Deleting account(s)</strong></h3>
        <p><strong>Deleting an account will destroy all data associated with your account</strong>, you can delete your account at any time. Please note that usernames used with deleted accounts might still unavailable to use after deletion.</p>
        <br>
        <h3 id="-federation-"><strong>Federation</strong></h3>
        <p><strong>Federation enables users on different servers to communicate with each other such as chatting or sharing files.</strong> Some of our services offer federation (Matrix and Mastodon), the nature of federation allows data to shared across different servers or entities. Sharing this data with other services / providers is entirely the user&#39;s decision.</p>
        <br>
        <h2 id="-additional-policies-exceptions-"><strong>Additional policies / exceptions</strong></h2>
        <br>
        <h3 id="searx">Searx</h3>
        <p><strong>Searx never logs any searches</strong> and never builds a profile on users.</p>
        <br>
        <h3 id="privatebin">Privatebin</h3>
        <p>Privatebin encrypts pastes on the client side using 256bit AES. <strong>We are unable to decrypt or read any pastes.</strong></p>
        <br>
        <h3 id="matrix">Matrix</h3>
        <p><strong>Matrix uses federation to provide communication across other servers / providers</strong>. Data such as messages or files may be shared with other Matrix instances if a user communicates with another user outside of  matrix.silkky.cloud. Please read Storage and Access to data for more information.</p>
        <br>
        <h3 id="bitwarden">Bitwarden</h3>
        <p><strong>Only hashed / encrypted data is stored on our server(s).</strong> All data is hashed / encrypted on the client side first. We are unable to see your real password. See <a href="https://hedgedoc.silkky.cloud/s/Q-3AMvzrr#">Bitwarden security</a> for more information.</p>
        <br>
        <h3 id="hedgedoc-and-etherpad">Hedgedoc and Etherpad</h3>
        <p><strong>Content of documents are stored in plain text.</strong></p>
        <br>
        <h3 id="invidious">Invidious</h3>
        <p>Please read the <strong>Invidious <a href="https://invidious.silkky.cloud/privacy">privacy policy</a>.</strong></p>
        <br>
        <h2 id="-hetzner-online-gmbh-"><strong>Hetzner Online GmbH</strong></h2>
        <p>Hetzner Online GmbH is our server provider, please read <a href="https://www.hetzner.com/rechtliches/datenschutz">their privacy policy</a>.</p>
        <p><strong>Hetzner Online GmbH may log access attempts to our server(s) this data may include IP address, user agent and bytes sent or received.</strong> Our interest and the interest of Hetzner Online GmbH to process this data is to detect / block attacks and to provide our services. Processing this data is legitimate under Article 6 (1) b GDPR.</p>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

<!-- Footer -->
<%- include('../partials/footer') %>

</body>

</html>