doctype html
head

  title Privacy Policy

  // Meta
  include ../templates/static/meta.pug
  // Scripts and Styles
  include ../templates/static/link.pug

body 

  // Navigation
  include ../templates/static/nav.pug

  // Jumbotron
  .container.p-4.mb-4.mt-5.bg-dark.rounded-3
    .container-fluid.py-3.text-white

      .row.row-cols-1.row-cols-md-1.g-4
        // Primary
        .col
          .p-4.card.bg-dark.shadow
            // Title
            h1.display-4.fw-bold Privacy Policy
            // Content
            p.col-md-8.fs-4 Your data is only used to provide our services. No data is ever shared with a third-party.

        // Contact
        .col
          .p-4.card.bg-dark.shadow
            // Title
            p.fs-2.fw-bold Contact
            // Content
            p if you any questions regarding the following Privacy Policy, contact us here:
            b E-Mail: legal@silkky.cloud

        // Scope
        .col
          .p-4.card.bg-dark.shadow
            // Title
            p.fs-2.fw-bold Scope
            // Content
            p
              b This privacy policy is valid for every service listed on: 
                a(href="https://silkky.cloud/" target="_blank") https://silkky.cloud
        
        // Definitions
        .col
          .p-4.card.bg-dark.shadow
            // Title
            p.fs-2.fw-bold Definitions
            p 
              b Relevant definitions as defined in Article 4 (1,2,7) GDPR.
            p <b>(1)</b> ‘personal data’ means any information relating to an identified or identifiable natural person;
            p <b>(2)</b> ‘processing’ means any operation or set of operations which is performed on personal data or on sets of personal data, whether or not by automated means, such as collection, recording, organisation, structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, restriction, erasure or destruction;
            p <b>(7)</b> 'controller’ means the natural or legal person, public authority, agency or other body which, alone or jointly with others, determines the purposes and means of the processing of personal data;

        // Your Rights
        .col
          .p-4.card.bg-dark.shadow
            // Title
            p.fs-2.fw-bold Your Rights
            p 
              b The General Data Protection Regulation (GDPR) and Data Protection Act 2018 (DPA) defines a number of rights you have in regard to your personal data.
            p You have the right to request the deletion or erasure of your personal data, you may also (depending on the circumstance) request a copy of your personal data. The right to object to or restrict data processing. If you have previously provided consent for the processing of your personal data you may be able (depending on the circumstance) to withdraw consent at any time, withdrawing consent doesn't affect the lawfulness of data processed prior to your consent being withdrawn.

        // Controller
        .col 
          .p-4.card.bg-dark.shadow 
            // Title
            p.fs-2.fw-bold Controller
            .unselectable
              p 
              | <b>Oscar Melton</b> 
              br
              | 6 Benjamin Street
              br 
              | 3831 Neerim South 
              br
              | Victoria 
              br
              | Australia
              br
              | legal@silkky.cloud

        // Personal data we collect and process
        .col 
          .p-4.card.bg-dark.shadow
            //Title
            p.fs-2.fw-bold Personal data we collect and process

  // Footer
  include ../templates/static/footer.pug