{% layout 'layouts/default' %}
{% assign page_title = "404 Page not Found" %}
{% assign page_description = "Page not Found" %}
{% block content %}
<section class="py-5" id="404">
    <div class="container-md px-5 py-5 my-5 text-center">
        <h1 class="display-1">404</h1>
        <p>Page not Found</p>
        <div class="mt-5 border border-1 border-dark">
            <div class="bg-alt-color">
                <ul class="list-group list-group-flush py-2">
                    <li class="list-group-item bg-alt-color">
                        <a class="link-light" href="/contribute">
                            Contribute
                        </a>
                    </li>
                    <li class="list-group-item bg-alt-color">
                        <a class="link-light" href="/applications">
                            Applications
                        </a>
                    </li>
                    <li class="list-group-item bg-alt-color">
                        <a class="link-light" href="/contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}