{% layout 'layouts/default' %}
{% assign page = "about" %}
{% assign page_title = "About" %}
{% assign page_description = "" %}
{% block content %}
<section class="py-5" id="about">
    {% render 'includes/sections/about/about' %}
</section>
{% endblock %}
