{% layout 'layouts/default' %}
{% block content %}
<section class="py-5" id="applications">
    <div class="container-md px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                {% render 'includes/content/app_card',
                    app_card_link: 'https://searx.silkky.cloud/',
                    app_card_title: 'Searx',
                    app_card_description: 'Searx is a privacy-respecting metasearch engine that aggregates results from other search engines (duckduckgo, google etc). Results are proxied so your ip address is never exposed.'
                %}
            </div>
        </div>
    </div>
</section>
{% endblock %}