{% layout 'layouts/default' %}
{% assign page_title = "Applications" %}
{% assign page_description = "Privacy respecting, decentralized and open-source applications to help you protect your privacy." %}
{% block content %}
<div class="container-md my-5 py-5">
    <div class="bg-alt-color border border-1 border-dark">
        <div class="p-5 container-fluid">
            <h1 class="display-2 fw-bolder">Applications</h1>
            <p class="fs-5 fw-bold">
                Privacy respecting, decentralized and open-source applications to help you protect your privacy.
            </p>
            <a class="link-light text-decoration-none" href="/privacy">Privacy Policy<i class="bi bi-arrow-right"></i></a><br />
            <a class="link-light text-decoration-none" href="/tos">Terms of Service<i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
</div>
<section id="applications">
    <div class="container-md px-5 mb-5">
        <div class="row gx-5 mb-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center text-white">
                    <h1 class="fw-bolder">Applications</h1>
                </div>
            </div>
        </div>
        <!--Application cards-->
        <div class="row gx-5">
            <!--Searx-->
            <div class="col-lg-4 mb-5">
                {% render 'includes/content/app_card',
                        app_card_link: 'https://searx.silkky.cloud/',
                        app_card_title: 'Searx',
                        app_card_description: 'Searx is a privacy-respecting metasearch engine that aggregates results from other search engines (duckduckgo, google etc). Results are proxied so your ip address is never exposed.'
                %}
            </div>
            <!--Invidious-->
            <div class="col-lg-4 mb-5">
                {% render 'includes/content/app_card',
                        app_card_link: 'https://invidious.silkky.cloud/',
                        app_card_title: 'Invidious',
                        app_card_description: 'Invidious is an alternative front-end to YouTube with no ads, no tracking and no google account.'
                %}
            </div>
            <!--Send-->
            <div class="col-lg-4 mb-5">
                {% render 'includes/content/app_card',
                        app_card_link: 'https://send.silkky.cloud/',
                        app_card_title: 'Send',
                        app_card_description: 'Simple, private file sharing. Send lets you share files with end-to-end encryption and a link that automatically expires. So you can keep what you share private and make sure your stuff doesn’t stay online forever.'
                %}
            </div>
            <!--Vikunja-->
            <div class="col-lg-4 mb-5">
                {% render 'includes/content/app_card',
                        app_card_link: 'https://tasks.silkky.cloud/',
                        app_card_title: 'Vikunja',
                        app_card_description: 'The to-do app to organize your life. Vikunja is an open-source, self-hosted to-do list application for all platforms.'
                %}
            </div>
            <!--Bitwarden-->
            <div class="col-lg-4 mb-5">
                {% render 'includes/content/app_card',
                        app_card_link: 'https://vault.silkky.cloud/',
                        app_card_title: 'Bitwarden',
                        app_card_description: 'Bitwarden offers the easiest and safest way for teams and individuals to store and share sensitive data from any device. Your private information is protected with end-to-end encryption before it ever leaves your device.'
                %}
            </div>
            <!--Libreddit-->
            <div class="col-lg-4 mb-5">
                {% render 'includes/content/app_card',
                        app_card_link: 'https://libreddit.silkky.cloud/',
                        app_card_title: 'Libreddit',
                        app_card_description: 'Libreddit is a private front-end like Invidious but for Reddit. Browse the coldest takes of r/unpopularopinion without being tracked.'
                %}
            </div>
            <!--Whoogle-->
            <div class="col-lg-4 mb-5">
                {% render 'includes/content/app_card',
                        app_card_link: 'https://whoogle.silkky.cloud/',
                        app_card_title: 'Whoogle',
                        app_card_description: 'Get Google search results, but without any ads, javascript, AMP links, cookies, or IP address tracking. Great alternative to Searx if you like the "Google" look.'
                %}
            </div>
            <!--Etherpad-->
            <div class="col-lg-4 mb-5">
                {% render 'includes/content/app_card',
                        app_card_link: 'https://pad.silkky.cloud/',
                        app_card_title: 'Etherpad',
                        app_card_description: 'Etherpad is a real-time collaborative rich text editor like Google Docs without any tracking.'
                %}
            </div>
            <!--HedgeDoc-->
            <div class="col-lg-4 mb-5">
                {% render 'includes/content/app_card',
                        app_card_link: 'https://hedgedoc.silkky.cloud/',
                        app_card_title: 'HedgeDoc',
                        app_card_description: 'The best platform to write and share markdown. HedgeDoc is an open-source collaborative markdown editor. With HedgeDoc you can easily collaborate on notes, graphs and even presentations in real-time.'
                %}
            </div>
            <!--PrivateBin-->
            <div class="col-lg-4 mb-5">
                {% render 'includes/content/app_card',
                        app_card_link: 'https://privatebin.silkky.cloud/',
                        app_card_title: 'PrivateBin',
                        app_card_description: 'PrivateBin is a minimalist, open source online pastebin where the server has zero knowledge of pasted data. Data is encrypted in the browser using 256bit AES.'
                %}
            </div>
        </div>
    </div>
</section>
<!--<section class="pb-5" id="docs">
    <div class="container-md px-5 mb-5">
        <div class="row gx-5 mb-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center text-white">
                    <h1 class="fw-bolder">Docs</h1>
                </div>
            </div>
        </div>
</section>-->
{% endblock %}