{% layout 'layouts/default' %}
{% assign page = "applications" %}
{% assign page_title = "Applications" %}
{% assign page_description = "Privacy respecting, decentralized and open-source applications to help you protect your privacy." %}
{% block content %}
<!--Applications-->
<section class="py-5" id="applications">
    {% render 'includes/sections/applications/applications' %}
</section>
{% endblock %}
