{% layout 'layouts/default' %}
{% assign page = "contribute" %}
{% assign page_title = "Contribute" %}
{% assign page_description = "Help make Silkky.Cloud better." %}
{% block content %}
<section class="py-5" id="contribute">
    <div class="container-md my-5">
        <div class="bg-alt-color border border-1 border-dark">
            <div class="p-5 container-fluid">
                <h1 class="display-2 fw-bolder">Contribute</h1>
                <p class="fs-5 fw-bold">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales.
                </p>
                <a class="link-light text-decoration-none fw-bolder" href="https://github.com/silkkycloud/silkky.cloud/" target="_blank">
                    <i class="bi bi-star-fill"></i> Star us on GitHub<i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="mt-4 bg-alt-color border border-1 border-dark">
            <div class="p-4 container-fluid">
                <h2 class="display-4 fw-bold">Developing</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in laoreet quam. Aenean risus libero.
                </p>
            </div>
        </div>
        <div class="mt-4 bg-alt-color border border-1 border-dark">
            <div class="p-4 container-fluid">
                <h2 class="display-4 fw-bold">Donate</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam diam, imperdiet nec risus condimentum, faucibus fermentum tellus. Sed condimentum mauris sed condimentum vehicula. Ut.
                </p>
                <a class="btn btn-cool text-white" type="button" data-bs-toggle="collapse" data-bs-target="#expensesCollapse" aria-expanded="false" aria-controls="expensesCollapse">
                    Expenses <i class="bi bi-arrow-down-short"></i>
                </a>
                <div class="collapse mt-2" id="expensesCollapse">
                    <div class="card card-body text-white bg-alt-color border border-1 border-dark">
                        text content
                    </div>
                </div>
                <div class="p-2 pt-5">
                    <h3 class="display-5 fw-bold">Currency</h3>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
