{% layout 'layouts/default' %}
{% assign page = "contribute" %}
{% assign page_title = "Contribute" %}
{% assign page_description = "Help make Silkky.Cloud better." %}
{% block content %}
<section class="py-5" id="contribute">
    <div class="container-md my-5">
        <div class="bg-alt-color border border-1 border-dark">
            <div class="p-5 container-fluid">
                <h1 class="display-2 fw-bolder">Contribute</h1>
                <p class="fs-5 fw-bold">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales.
                </p>
                <a class="link-light text-decoration-none fw-bolder" href="https://github.com/silkkycloud/silkky.cloud/" target="_blank">
                    <i class="bi bi-star-fill"></i> Star us on GitHub<i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="mt-4 bg-alt-color border border-1 border-dark">
            <div class="p-4 container-fluid">
                <h2 class="display-4 fw-bold">Developing</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in laoreet quam. Aenean risus libero.
                </p>
            </div>
        </div>
        <div class="mt-4 bg-alt-color border border-1 border-dark">
            <div class="p-4 container-fluid">
                <h2 class="display-4 fw-bold">Donate</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam diam, imperdiet nec risus condimentum, faucibus fermentum tellus. Sed condimentum mauris sed condimentum vehicula. Ut.
                </p>
                <a class="btn btn-cool text-white" data-bs-toggle="collapse" data-bs-target="#expensesCollapse" aria-expanded="false" aria-controls="expensesCollapse">
                    Expenses <i class="bi bi-arrow-down-short"></i>
                </a>
                <div class="collapse mt-2" id="expensesCollapse">
                    <div class="card card-body text-white bg-alt-color border border-1 border-dark">
                        text content
                    </div>
                </div>
                <div class="p-2 pt-5">
                    <h3 class="display-5 fw-bold">Currency</h3>
                    <div class="py-2">
                        <h4 class="fw-bold fst-italic">
                            <img src="/assets/img/svg/liberapay.svg" height="32px" alt="Liberapay Logo"> Liberapay <small class="text-muted">- Recurring donations</small>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec tempus dolor. Integer.
                        </p>
                        <div class="py-3">
                            <a class="btn btn-warning" href="https://liberapay.com/silkkycloud/" target="_blank">
                                <h4 class="fw-bold fst-italic mt-1">
                                    <img src="/assets/img/svg/liberapay.svg" height="26" alt="Liberapay Logo"> Liberapay
                                </h4>
                            </a>
                        </div>
                    </div>
                    <div class="py-2">
                        <h4 class="fw-bold fst-italic mt-1">
                            <img src="/assets/img/svg/buymeacoffee.svg" height="24px" alt="Buy Me a Coffee Logo"> BuyMeACoffee <small class="text-muted">- One-time donations</small>
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis.
                        </p>
                        <div class="py-3">
                            <a class="btn btn-info" href="https://buymeacoffee.com/silkkycloud/" target="_blank">
                                <h4 class="fw-bold fst-italic mt-1">
                                    <img src="/assets/img/svg/buymeacoffee.svg" height="25px" alt="Buy Me a Coffee Logo"> BuyMeACoffee
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="p-2 pt-5">
                    <h3 class="display-5 fw-bold">Crypto Currency</h3>
                    <div class="py-2">
                        <h4 class="fw-bold fst-italic">
                            <img src="/assets/img/svg/bitcoin.svg" height="32px" alt="Bitcoin Logo"> Bitcoin
                        </h4>
                        <p>
                            orem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec tempus dolor. Integer.
                        </p>
                        <div class="py-3">
                            <div class="p-2 bg-light fw-bold text-dark">
                                bc1qjjzzm79gpaujyteu8yhjyxla0hhj224ppktyaa
                            </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <h4 class="fw-bold fst-italic mt-1">
                            <img src="/assets/img/svg/ethereum.svg" height="32px" alt="Ethereum Logo"> Ethereum
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis.
                        </p>
                        <div class="py-3">
                            <div class="p-2 bg-light fw-bold text-dark">
                                0xfdd4f4618902dc1f388bC58CceC9E622d7319Ff6
                            </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <h4 class="fw-bold fst-italic mt-1">
                            <img src="/assets/img/svg/monero.svg" height="32px" alt="Monero Logo"> Monero
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis.
                        </p>
                        <div class="py-3">
                            <div class="p-2 bg-light fw-bold text-dark">
                                856E1v6ab4W3AEnkW8Zyd66SJ3ckwbACdLiiFNg1kZeT6Qx5YS3eGcCDwJwaBKh3os9EtdWw6GAwUfGh6UzcYxoVJ5HvgMu
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
