{% layout 'layouts/default' %}
{% assign page = "contribute" %}
{% assign page_title = "Contribute" %}
{% assign page_description = "Help make Silkky.Cloud better." %}
{% block content %}
<section class="py-5" id="contribute">
    <div class="container-md my-5">
        <div class="bg-alt-color border border-1 border-dark">
            <div class="p-5 container-fluid">
                <h1 class="display-2 fw-bolder">Contribute</h1>
                <p class="fs-5 fw-bold">

                </p>
            </div>
        </div>
    </div>
    <div class="container-md px-5 my-5">
        <div class="row gx-5 py-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h1 class="mb-0 text-white">
                    Help make Silkky.Cloud better
                </h1>
            </div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5">
                        <div class="card app-card h-100">
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-light stretched-link" href="" target="_blank">
                                    <h3 class="card-title mb-3">
                                        <i class="bi bi-bank2"></i> Donate
                                    </h3>
                                </a>
                                <p class="card-text leader-text text-muted mb-0">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card app-card h-100">
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-light stretched-link" href="" target="_blank">
                                    <h3 class="card-title mb-3">
                                        <i class="bi bi-file-earmark-code-fill"></i> Code
                                    </h3>
                                </a>
                                <p class="card-text leader-text text-muted mb-0">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card app-card h-100">
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-light stretched-link" href="" target="_blank">
                                    <h3 class="card-title mb-3">
                                        <i class="bi bi-chat-fill"></i> Join our chat
                                    </h3>
                                </a>
                                <p class="card-text leader-text text-muted mb-0">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card app-card h-100">
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-light stretched-link" href="https://github.com/silkkycloud/silkky.cloud/" target="_blank">
                                    <h3 class="card-title mb-3">
                                        <i class="bi bi-star-fill"></i> Star us on GitHub
                                    </h3>
                                </a>
                                <p class="card-text leader-text text-muted mb-0">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}