{% layout 'layouts/default' %}
{% block content %}
{% render 'includes/content/hero' %}
<!--Features-->
<section class="py-5" id="features">
    {% render 'includes/sections/index/features' %}
</section>
<!--Sponsors-->
<section id="sponsors">
    {% render 'includes/sections/index/sponsors' %}
</section>
<!--Applications-->
<section class="py-5" id="applications">
    {% render 'includes/sections/index/applications' %}
</section>
{% endblock %}
