{% layout 'layouts/default' %}
{% block content %}
{% render 'includes/content/hero' %}
<!--Features Section-->
<section class="py-5" id="features">
    <div class="container-md px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h1 class="mb-0 text-white">
                    Built for everyone
                </h1>
            </div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-light bg-gradient text-white rounded-3 mb-3">
                            <i class="bi bi-github text-dark"></i>
                        </div>
                        <h5 class="text-white fw-bolder">Open Source</h5>
                        <p class="mb-0 text-white">100% Open Source</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-light bg-gradient text-white rounded-3 mb-3">
                            <i class="bi bi-github text-dark"></i>
                        </div>
                        <h5 class="text-white fw-bolder"></h5>
                        <p class="mb-0 text-white">100% Open Source</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-light bg-gradient text-white rounded-3 mb-3">
                            <i class="bi bi-github text-dark"></i>
                        </div>
                        <h5 class="text-white fw-bolder"></h5>
                        <p class="mb-0 text-white">100% Open Source</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-light bg-gradient text-white rounded-3 mb-3">
                            <i class="bi bi-github text-dark"></i>
                        </div>
                        <h5 class="text-white fw-bolder"></h5>
                        <p class="mb-0 text-white">100% Open Source</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Applications section-->
<section id="applications">
    <div class="container-md px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center text-white">
                    <h1 class="fw-bolder">Applications</h1>
                    <p class="lead leader-text fw-normal text-muted">
                        Web applications to help you protect your privacy
                    </p>
                    <a class="silkky-button button-icon link-light me-2 mb-5" href="/applications" target="_blank">
                        See more<i class="bi bi-arrow-right bi-button-icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--Application cards-->
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                {% render 'includes/content/app_card',
                    app_card_link: 'https://searx.silkky.cloud/',
                    app_card_title: 'Searx',
                    app_card_description: 'Searx is a privacy-respecting metasearch engine that aggregates results from other search engines (duckduckgo, google etc). Results are proxied so your ip address is never exposed.'
                %}
            </div>
            <div class="col-lg-4 mb-5">
                {% render 'includes/content/app_card',
                    app_card_link: 'https://invidious.silkky.cloud/',
                    app_card_title: 'Invidious',
                    app_card_description: 'Invidious is an alternative front-end to YouTube with no ads, no tracking and no google account.'
                %}
            </div>
            <div class="col-lg-4 mb-5">
                {% render 'includes/content/app_card',
                    app_card_link: 'https://send.silkky.cloud/',
                    app_card_title: 'Send',
                    app_card_description: 'Simple, private file sharing. Send lets you share files with end-to-end encryption and a link that automatically expires. So you can keep what you share private and make sure your stuff doesn’t stay online forever.'
                %}
            </div>
        </div>
    </div>
</section>
<!--Games section-->
<section id="games">
    <div class="container-md px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center text-white">
                    <h1 class="fw-bolder">Games</h1>
                    <p class="lead leader-text fw-normal text-muted">
                        Game servers for games like
                    </p>
                    <a class="silkky-button button-icon link-light me-2 mb-5" href="/games" target="_blank">
                        See more<i class="bi bi-arrow-right bi-button-icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--Game cards-->
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-4 mb-5">
                {% render 'includes/content/app_card',
                    app_card_image: '/assets/img/games/rust/rustlogo.svg',
                    app_card_image_alt: 'RustImage',
                    app_card_custom_image_class: 'p-2',
                    app_card_link: 'https://searx.silkky.cloud/',
                    app_card_title: '[AU/NZ] Silkky 5x [TP/Kits/Bgrade/InstantCraft]',
                    app_card_description: 'High performance dedicated server hosted in Australia. Silkky 5x is a modded rust experience with kits, tp, home, bgrade and instant craft.'
                %}
            </div>
        </div>
    </div>
</section>
{% endblock %}