<div class="container-md px-5 py-5">
    <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <h1 class="mb-0 text-white">
                Built for everyone
            </h1>
        </div>
        <div class="col-lg-8">
            <div class="row gx-5 row-cols-1 row-cols-md-2">
                <div class="feature col mb-5 h-100">
                    <div class="border border-dark border-1 bg-alt-color text-white mb-3">
                        <i class="bi bi-shield-fill"></i>
                    </div>
                    <h4 class="text-white">Private</h4>
                    <p class="mb-0 text-white">
                        We will never share any personal data with third parties and we never collect any unnecessary data without your consent.
                    </p>
                </div>
                <div class="feature col mb-5 h-100">
                    <div class="border border-dark border-1 bg-alt-color text-white mb-3">
                        <i class="bi bi-share-fill"></i>
                    </div>
                    <h4 class="text-white">Open Source</h4>
                    <p class="mb-0 text-white">
                        All applications and documentation hosted by us are licensed under ethical, free and open source licenses.
                    </p>
                </div>
                <div class="feature col mb-5 h-100">
                    <div class="border border-dark border-1 bg-alt-color text-white mb-3">
                        <i class="bi bi-globe2"></i>
                    </div>
                    <h4 class="text-white">Community</h4>
                    <p class="mb-0 text-white">
                        Silkky.Cloud is not a commercial company and is 100% maintained by contributions from the community.
                    </p>
                </div>
                <div class="feature col mb-5 h-100">
                    <div class="border border-dark border-1 bg-alt-color text-white mb-3">
                        <i class="bi bi-files-alt"></i>
                    </div>
                    <h4 class="text-white">Resources</h4>
                    <p class="mb-0 text-white">

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
