<div class="bg-alt-color border-top border-bottom border-1 border-dark">
    <div class="container-md px-5 py-5 my-5">
        <div class="row gx-5 mb-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center text-white">
                    <h1 class="fw-bolder">Sponsors</h1>
                </div>
            </div>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-10 col-xl-7">
                <div class="text-center">
                    <div class="d-flex flex-wrap justify-content-around align-items-center">
                        <!--Netlify-->
                        <a class="m-3" href="https://www.netlify.com/" target="_blank" id="netlify-sponsor">
                            <img src="assets/img/svg/netlify-color.svg" alt="JetBrains" height="60px">
                        </a>
                        <!--JetBrains-->
                        <a class="m-3" href="https://jb.gg/OpenSource" target="_blank" id="jetbrains-sponsor">
                            <img src="assets/img/svg/jetbrains.svg" alt="JetBrains" width="125px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
