<footer class="bg-black mt-auto py-3 border-top border-bottom border-dark border-1">
    <div class="container-md p-5">
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col pb-3">
                <h6 class="text-white fw-bolder">Contact</h6>
                <p class="text-white text-muted small"><i class="bi bi-envelope-fill"></i> <a href="mailto:support@silkky.cloud" class="link-light">support@silkky.cloud</a></p>
                <p class="text-white text-muted small"><i class="bi bi-discord"></i> <a href="https://discord.gg/BvqJQ3hNrQ" target="_blank" class="link-light">Join our Discord</a></p>
                <p class="text-white text-muted small"><i class="bi bi-discord"></i> <a href="https://matrix.to/#/#silkkycloud:matrix.org" target="_blank" class="link-light">Join our Matrix room</a></p>
            </div>
            <div class="col pb-3">
                <h6 class="text-white fw-bolder">Policies</h6>
                <a class="link-light small" href="/privacy" target="_blank">Privacy Policy</a><br />
                <a class="link-light small" href="/tos" target="_blank">Terms of Service</a><br />
                <a class="link-light small" href="/legal" target="_blank">Legal Notice</a>
            </div>
            <div class="col pb-3">
                <h6 class="text-white fw-bolder">&copy Silkky.Cloud</h6>
                <p class="text-white text-muted small">
                    Released under the GNU Affero General Public License version 3 or later. Visit <a class="link-dark" href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">https://www.gnu.org/licenses/agpl-3.0.html</a> for more information on licensing
                </p>
            </div>
        </div>
    </div>
</footer>
<div class="container-md pt-3 pb-3">
    <div class="text-center">
        <p class="text-white leader-text">Powered by <a href="https://vercel.com/?utm_source=silkkycloud&utm_campaign=oss" target="_blank"><img src="/assets/img/svg/vercel.svg" width="80px" alt="Vercel"></a></p>
    </div>
</div>