<footer class="mt-auto py-3">
    <div class="container-md text-center">
        <p class="leader-text text-white">
            <a class="link-light" href="https://github.com/silkkycloud/silkky.cloud" target="_blank">
                <small>Licensed under AGPL-3.0-or-later</small>
            </a>
        </p>
    </div>
</footer>